{% extends "proposal_reception/base.html" %}

{% block title %}Propuesta de articulo{% endblock title %}

{% block current %}
Crear propuesta de articulo
{% endblock current %}



{% block general %}
{% with  article_proposal_form as form  %}
<div class="grid-x grid-padding-x">
    <div class="cell small-12">
        {{ form.title.label_tag }}
        {{ form.title }}
        <span class="form-error">
            El titulo es requerido y debe ser único.
        </span>
    </div>
</div>
<div class="grid-x grid-padding-x">
    <div class="cell small-12">
        {{ form.modality.label_tag }}
        {{ form.modality }}
        {% if form.modality.errors %}
        <div class="callout alert">
            {% for error in form.modality.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<div class="grid-x grid-padding-x">
    <div class="cell small-12 large-6">
        {{form.school.label_tag}}
        {{form.school}}
        {% if form.school.errors %}
        <div class="callout alert">
            {% for error in form.school.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="cell small-12 large-6">
        <label for="id_new_school">Credito de escuela:</label>
        {{form.new_school.label_tag}}
        {{form.new_school}}
        {% comment "help text" %}{% endcomment %}
        <div class="help-text">
            {{form.new_school.help_text}}
        </div>
        {% if form.new_school.errors %}
        <div class="callout alert">
            {% for error in form.new_school.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% comment "template" %}{% endcomment %}
<div class="grid-x grid-padding-x">
    <div class="cell small-12 large-6">
        {{ form.template.label_tag }}
        {{ form.template }}
        {% if form.template.errors %}
        <div class="callout alert">
            {% for error in form.template.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>
{% endwith %}


{% endblock general %}



{% block formset_coauthor %}
{{ coauthor_formset.management_form }}
{% for coautor_form in coauthor_formset %}

<div class="grid-x grid-padding-x">
    <div class="cell small-12 large-4">
        {{ coautor_form.nombre.label_tag }}
        {{ coautor_form.nombre }}
        {% if coautor_form.nombre.errors %}
        <div class="callout alert">
            {% for error in coautor_form.nombre.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="cell small-12 large-4">
        {{ coautor_form.apellido_paterno.label_tag }}
        {{ coautor_form.apellido_paterno }}
        {% if coautor_form.apellido_paterno.errors %}
        <div class="callout alert">
            {% for error in coautor_form.apellido_paterno.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="cell small-12 large-4">
        {{ coautor_form.apellido_materno.label_tag }}
        {{ coautor_form.apellido_materno }}
        {% if coautor_form.apellido_materno.errors %}
        <div class="callout alert">
            {% for error in coautor_form.apellido_materno.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="cell small-12 large-12">
        {{ coautor_form.email.label_tag }}
        {{ coautor_form.email }}
        {% if coautor_form.email.errors %}
        <div class="callout alert">
            {% for error in coautor_form.email.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock formset_coauthor %}

{% block buttons_coauthor %}
<button style="text-decoration:none" class="button clear alert" id="remove-form_coautor" type="button">
    <i class="fi-minus-circle"></i>
    Eliminar coautor</button>
{% endblock buttons_coauthor %}

{% block buttons_image %}
<button style="text-decoration:none" class="button clear alert" id="remove-form_image" type="button">
    <i class="fi-minus-circle"></i>
    Eliminar imagen</button>
{% endblock buttons_image %}

