{% extends "proposal_reception/base.html" %}

{% block title %}Editar articulo {{article_proposal.title}}{% endblock title %}

{% block current %}
{{article_proposal.title}}
{% endblock current %}

{% block general %}

<div class="grid-x grid-padding-x">
    <div class="cell small-12">
        {{ form.title.label_tag }}
        {{ form.title }}
        <span class="form-error">
            El titulo debe ser único.
        </span>
    </div>
</div>
<div class="grid-x grid-padding-x">
    <div class="cell small-12">
        {{ form.modality.label_tag }}
        {{ form.modality }}

    </div>
</div>

<div class="grid-x grid-padding-x">
    <div class="cell small-12 large-6">
        {{form.school.label_tag}}
        {{form.school}}
        {% if form.school.errors %}
        <div class="callout alert">
            {% for error in form.school.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="cell small-12 large-6">
        <label for="id_new_school">Credito de escuela:</label>
        {{form.new_school.label_tag}}
        {{form.new_school}}
        {% comment "help text" %}{% endcomment %}
        <div class="help-text">
            {{form.new_school.help_text}}
        </div>
        {% if form.new_school.errors %}
        <div class="callout alert">
            {% for error in form.new_school.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% comment "template" %}{% endcomment %}
<div class="grid-x grid-padding-x">
    <div class="cell small-12 large-6">
        {{ form.template.label_tag }}
        {{ form.template }}
        {% if form.template.errors %}
        <div class="callout alert">
            {% for error in form.template.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>
{% endblock general %}

{% block formset_coauthor %}
{{ coauthor_formset.management_form }}

{% for coautor_form in coauthor_formset %}

{% for hidden in coautor_form.hidden_fields %}
{{ hidden }}
{% endfor %}


<div class="grid-x grid-padding-x">
    <div class="cell small-12 large-4">
        {{ coautor_form.nombre.label_tag }}
        {{ coautor_form.nombre }}
        <span class="form-error">
            Debe ser un nombre valido (solo letras) y máximo 2 nombres.
        </span>
    </div>
    <div class="cell small-12 large-4">
        {{ coautor_form.apellido_paterno.label_tag }}
        {{ coautor_form.apellido_paterno }}
        <span class="form-error">
            Debe ser un apellido valido (solo letras).
        </span>
    </div>
    <div class="cell small-12 large-4">
        {{ coautor_form.apellido_materno.label_tag }}
        {{ coautor_form.apellido_materno }}
        <span class="form-error">
            Debe ser un apellido valido (solo letras).
        </span>
    </div>
    <div class="cell small-12 large-12">
        {{ coautor_form.email.label_tag }}
        {{ coautor_form.email }}
        <span class="form-error">
            Debe ser un correo valido.
        </span>
    </div>
</div>
{% if coauthor_formset.can_delete %}
<div class="grid-x grid-padding-x">
    <div class="cell small-12">
        {{ coautor_form.DELETE.label_tag }}
        {{ coautor_form.DELETE }}
    </div>
</div>
{% endif %}
{% if not forloop.last %}
{% endif %}

{% endfor %}

{% endblock formset_coauthor %}


{% block extra %}
<script>
    $(document).ready(function () {
        console.log($('#id_new_school').val());
        console.log("Hola")

        if ($('#id_new_school').val() != '') {
            // set school with text Otra 
            $("#id_school option[value='']").attr("selected", true);
        }
    });
</script>

{% endblock extra %}