/.env
__pycache__/
*.py[cod]
*.pyc

# * ignore medifiles folder


/mediafiles

# * .vscode folder

/.vscode

/downloads

/apps/chat

/letters

/client_secrets.json

# * archivos con terminacion drawio

*.drawio