{% extends 'core/base.html' %}
{% load static %}
{% load filters %}

{% block title %}Chat{% endblock %}

{% block content %}

<style>
  .avatar {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
  }

  .thread {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;

  }

  .mine {
    padding: 0 0.5em 0.25em;
    background-color: rgba(230, 242, 245, .5);
    width: 92%;
    margin-left: 8%;
  }


  .other {
    padding: 0 0.5em 0.25em;
    background-color: #f2f3f5;
    width: 92%;
  }

  .you {
    background-color: lime;
  }

  .chat-online {
    color: #34ce57
  }

  .chat-offline {
    color: #e4606d
  }

  .chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll;
  }

  .chat-message-left,
  .chat-message-right {
    display: flex;
    flex-shrink: 0
  }

  .chat-message-left {
    margin-right: auto
  }

  .chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;

  }

  .py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .flex-grow-0 {
    flex-grow: 0 !important;
  }

  .border-top {
    border-top: 1px solid #dee2e6 !important;
  }

  .bg-lime {
    background-color: #DAFFE1;
  }

  .bg-skyblue {
    background-color: #E6F2F5;
  }
</style>

<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-10 mx-auto mb-5">
        <div class="row">
          <!-- Hilos de conversación -->
          <div class="col-md-4">
            <!-- Con una búsqueda inversa user.threads también podemos conseguir los hilos de un usuario -->
            {% for thread in request.user.threads.all%}
            <!-- Sólo mostraremos un Thread si tiene como mínimo 1 mensaje -->
            {% if thread.messages.all|length > 0 %}
            <div class="mb-3">
              <!-- Recorremos los miembros del hilo menos el propio request.user -->
              {% for user in thread.users.all %}
              {% if user != request.user %}
              <!-- Mostramos el avatar del miembro -->
              {% if user.profile.avatar %}
              <img src="{{user.profile.avatar.url}}" class="avatar">
              {% else %}
              <img src="{% static 'registration/img/no-avatar.jpg' %}" class="avatar">
              {% endif %}
              <!-- Mostramos la información del miembro -->
              <div>
                <a href="{% url 'detail_thread' thread.pk %}">{{user}}</a><br>
                <small><i>Hace {{thread.messages.first.created|timesince|to_and}}</i></small>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <!-- Hilo de conversación -->
          <div class="col-md-8">
            <!-- Recorremos los miembros del hilo menos el propio request.user -->
            {% for user in thread.users.all %}
            {% if user != request.user %}
            <h4 class="mb-4">Mensajes con <a href=" ">{{user}}</a></h4>
            {% endif %}
            {% endfor %}
            <!-- Mostramos los mensajes en una capa que tiene un overflow vertical de 300 píxeles -->
            <div class="thread" id="thread">
              {% for message in object.messages.all reversed%}
              <!-- Dependiendo del usuario asignamos una clase con un color de fondo u otro en el mensaje -->
              {% with avatar=message.user.profile.avatar %}
              <div class="chat-message-{% if request.user == message.user %}right mb-4{% else %}left pb-4{% endif %}">
                <div class="{% if request.user == message.user %}text-start {% else %}text-end{% endif %}">
                  <img src="{{avatar.url}}" class="rounded-circle" alt="Chris Wood" width="40" height="40">
                  <div class="text-muted small text-nowrap mt-2">{{message.created|date:"h:i a"}}</div>
                </div>
                <div class="flex-shrink-1 {% if request.user == message.user %}
                bg-lime
                {% else %}
                bg-skyblue
                {% endif %} rounded py-2 px-3 m{% if request.user == message.user  %}r{% else %}l{% endif %}-3">
                  <div class="font-weight-bold mb-1">{% if request.user == message.user %}
                    Tú
                    {% else %}
                    {{message.user}}
                    {% endif %}</div>
                  {{message.content}}
                  <div><small>{{message.created|date}}</small></div>
                </div>

              </div>

              {% endwith %}
              {% endfor %}
              <!-- Translate something-->
            </div>
            <!-- Aquí crearemos el formulario -->

            <textarea name="content" id="content" class="form-control" rows="2"
              placeholder="Escriba un mensaje"></textarea>

            <button id="send" class="btn btn-primary btn-block" disabled>Enviar mensaje</button>


            {{ room_name|json_script:"room-name" }}
            <script>
              var send = document.getElementById('send');

              const roomName = JSON.parse(document.getElementById('room-name').textContent);

              const chatSocket = new WebSocket(
                'ws://' +
                window.location.host +
                '/ws/chat/thread/' +
                roomName +
                '/'
              );

              chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                //document.querySelector('#thread').value += (data.message + '\n' + data.username);
                send.disabled = true;
                var imagen = document.createElement('img');
                var message = document.createElement('div');


                if (data.username == "{{request.user}}") {

                  var time = new Date();

                  console.log(data);

                  document.querySelector('#thread').innerHTML +=
                    '<div class="chat-message-right mb-4">' +
                    '<div>' +
                    '<img src="{{request.user.profile.avatar.url}}" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">' +
                    '<div class="text-muted small text-nowrap mt-2">' + data.hour + '</div>' +
                    '</div>' +
                    '<div class="flex-shrink-1 bg-lime rounded py-2 px-3 mr-3">' +
                    '<div class="font-weight-bold mb-r">' + 'Tú' + '</div>' +
                    data.message +
                    '<div><small>' + 'Hace un momento' + '</small></div>' +
                    '</div>' +
                    '</div>';

                  scrollBottom()
                } else {
                  document.querySelector('#thread').innerHTML +=
                    '<div class="chat-message-left mb-4">' +
                    '<div>' +
                    '<img src="{{request.user.profile.avatar.url}}" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">' +
                    '<div class="text-muted small text-nowrap mt-2">' + data.hour + '</div>' +
                    '</div>' +
                    '<div class="flex-shrink-1 bg-skyblue rounded py-2 px-3 mr-3">' +
                    '<div class="font-weight-bold mb-1">' + data.username + '</div>' +
                    data.message +
                    '<div><small>' + 'Hace un momento' + '</small></div>' +
                    '</div>' +
                    '</div>';

                  scrollBottom()
                }


                scrollBottom();
              };

              chatSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
              };

              document.querySelector('#content').focus();
              document.querySelector('#content').onkeyup = function (e) {
                if (e.keyCode === 13) { // enter, return
                  document.querySelector('#send').click();
                }
              };

              document.querySelector('#send').onclick = function (e) {
                send.disabled = true;
                const messageInputDom = document.querySelector('#content');
                const message = messageInputDom.value;
                console.log("mensaje:" + message);
                const url = "{% url 'add_message' thread.pk %}" + "?content=" + message;

                console.log("url:" + url);

                console.log(message)

                fetch(url).then(response => response.json()).then(function (data) {
                  console.log(data);
                  console.log(message.value)
                  if (data.created) {
                    chatSocket.send(JSON.stringify({
                      'message': data.message,
                      'username': '{{request.user}}',
                      'created': data.created_at,
                      'avatar': '{{request.user.profile.avatar.url}}'
                    }));
                    messageInputDom.value = '';

                    scrollBottom();

                    if (data.first == true) {
                      window.location.reload();
                    }
                  }
                });


              };

              var content = document.getElementById('content');
              content.addEventListener('keyup', function () {
                if (!this.checkValidity() || !this.value) {
                  send.disabled = true;
                } else {
                  send.disabled = false;
                }
              })

              // Forzar scroll del chat
              function scrollBottom() {
                var thread = document.getElementById('thread');
                thread.scrollTop = thread.scrollHeight;
              }
              scrollBottom();
            </script>

          </div>
        </div>
      </div>
    </div>
</main>
{% endblock content %}