{% extends "core/base.html" %}
{% load static %}
{% load filters %}

{% block title %}Tablero{% endblock title %}

{% block back %}
<a href="{% url 'home' %}" class="button clear">
    {% block back_button %}
    {{ block.super }}
    {% endblock back_button %}
</a>
{% endblock back %}

{% block path %}
{# Path #}
<li><a href="{% url 'home' %}">Inicio</a></li>
<li>
    <span class="show-for-sr">Current: </span> Tablero
</li>
{% endblock path %}

{% block content %}

<div class="grid-x grid-margin-x align-center">


    <!--Mensajes-->
    {% if not request.user.profile.type_user == "2" %}

    <div class="cell small-10 medium-10 large-10 align-self-middle" ">
        <div class=" card" style="width: 100%;">
        <div class="card-divider">

            <h4 class="cell medium-6">
                <p class="text-center title-white"> Propuestas de artículo</p>
            </h4>
        </div>
        <div class="card-section">
            {% if messages %}
            {% for message in messages %}
            <div
                class="callout {% if message.tags == 'success' %}success {% elif message.tags == 'error' %}alert {% endif %}">
                {{ message }}
            </div>



            {% endfor %}
            {% endif %}

            {% if user.profile.article_proposal.all.count != 0 %}


            <div class="grid-x grid-paggin-x cell align-center large-8">
                <div class="callout primary">
                    <p>
                        Cuando su propuesta sea recibida, recibirá un correo electrónico con su carta de recepción.
                        También
                        podrá ver su carta de recepción desde el botón "Ver" en la columna "Carta de recepción".
                    </p>

                    <p>
                        Puedes editar tu propuesta de artículo hasta que sea recibida.
                    </p>
                </div>
            </div>

            {% with articles=user.profile.article_proposal.all %}

            <table>
                <thead>
                    <th style="width:20%">Titulo</th>
                    <th class="text-center" style="width:10%">Estado</th>
                    <th class="text-center" style="width:5%">Carta de recepción</th>
                    <th class="text-center" style="width:20%">Acciones</th>
                    <th class="text-center" style="width:10%">Dictamen</th>
                </thead>


                <tbody>
                    {% for article in articles|order_by_date %}
                    {% if article.publication == current_publication %}

                    {% comment %}
                <tbody> {% endcomment %}
                    <tr>
                        <td style="font-size:15px">{{ article.title }}</td>
                        <td class="text-center">

                            <small data-tooltip tabindex="1" title="{% with article.status as status %} {% if status == "1" %} Tu artículo será recibido por el comité editorial en cualquier momento.
                                {% elif status == "2" %} Tu artículo ha sido recibido por el comité editorial. En cualquier momento será asignado para su arbitraje.
                                 {% elif status == "3" %} Tu artículo ha sido asignado para su arbitraje. En cualquier momento será enviado para su revisión.
                                  {% elif status == "4" %}
                                  Tú artículo está a la espera de tus correcciones.
                                    {% elif status == "5" %}
                                    Tú artículo ha sido enviado para la recepción de correciones.
                                {% elif status == "6" %}
                                Su propuesta se encuentra en dictamen. Debe esperar a que el artículo sea aceptado o rechazado.
                                  {% endif %}
                                {% endwith %}">

                                {% with article.status as status %}
                                {% if status == "1" %}

                                <i class="fi-info" style="color:blue;"></i>

                                {% elif status == "2" %}
                                <I class="fi-check" style="color:green;"></i>

                                {% elif status == "3" %}

                                <i class="fi-clipboard-pencil" style="color:blue;"></i>

                                {% elif status == "4" %}
                                <i class="fi-info" style="color:yellow;"></i>

                                {% elif status == "5" %}

                                <i class="fi-check" style="color:green;"></i>

                                {% elif status == "6" %}
                                <i class="fi-flag" style="color:blue;"></i>

                                {% endif %}
                                {% endwith %}
                                {{article.get_status_display}}


                            </small>


                        </td>
                        <td class="text-center">
                            <!--Ver dictamen-->
                            {% if article.reception_letter.url is not null %}
                            <a href="{{ article.reception_letter.url }}" class="btn btn-link text-primary"
                                style="text-decoration: none;" target="_blank">
                                <i class="fi-eye"></i>
                                Ver</a>

                            {% endif %}
                        </td>

                        <td class="text-center acciones">
                            {% if article|is_assigned %}

                            {% if article.status == "4" %}

                            <a href="{% url 'correction_reception:correction_form' article.correction.id %}"
                                style="text-decoration:none;" class="btn btn-link">
                                <i class="fi-check"></i>
                                Corregir</a>

                            {% else %}

                            {% endif %}

                            {% elif article.status != "2" %}

                            <small data-tooltip tabindex="1" title="Puedes editar tu propuesta hasta que sea recibida.">
                            <a href="{% url 'proposal_reception:article_proposal_update' article.id %}"
                                style="text-decoration: none;" class="btn btn-link">
                                <i class="fi-pencil"></i>
                                Editar</a>
                            </small>
                            {% endif %}
                        </td>
                        <td class="text-center">
                        {% if article|is_assigned %}
                        {% if article.assignment.completed %}

                        {% if article.correction is not None %}

                        {% if not article.correction.correction_file %}
                        

                        

                        {% endif %}

                        {% endif %}
                        {% else %}

                        
                        {% endif %}

                        
                        {% endif %}
                    </td>
                    </tr>

                    {% endif %}

                    {% endfor %}

                    {% endwith %}
                </tbody>


            </table>

            {% else %}
            <div class="grid-x grid-paggin-x cell align-center large-8">
                <p>
                    No ha iniciado ninguna propuesta de artículo para esta publicación{% if current_publication  %}
                     #{{current_publication}}
                    {% else %}.{% endif %}
                </p>
            </div>
            {% endif %}
            <div class="grid-x grid-paggin-x cell align-center large-8">
                <div class="cell medium-4 large-3 small-6">
                    <a href="{% url 'proposal_reception:article_proposal_form' %}" class="button expanded">Iniciar
                        propuesta</a>
                </div>
            </div>

        </div>

    </div>
</div>
{% else %}
<div class="cell small-10 medium-10 large-10 align-self-middle" style="height:1000px">
    <div class="card" style="width: 100%;">
        <div class="card-divider">

            <h4 class="cell medium-6">
                <p class="text-center title-white"> Asignaciones</p>
            </h4>
        </div>
        <div class="card-section">
            {% if messages %}
            {% for message in messages %}
            <div
                class="callout {% if message.tags == 'success' %}success {% elif message.tags == 'error' %}alert {% endif %}">
                {{ message }}
            </div>

            {% endfor %}
            {% endif %}

            {% if user.profile.assignments.all.count != 0 %}
            <div class="grid-x grid-padding-x cell align-center ">
                <div class="callout primary cell">
                    <p>
                        Se le asignó la revisión de las siguientes propuestas:
                    </p>
                </div>
            </div>


            <table>
                <thead>
                    <th style="width:20%">
                        Propuesta</th>
                    <th class="text-center" style="width:20%">Estado</th>
                    <th class="text-center" style="width:15%">Arbitrajes</th>
                    <th class="text-center" style="width:20%">Dictamenes</th>
                    <th class="text-center" style="width:45%">Acciones</th>
                </thead>
                <tbody>

                    {% with assignments=user.profile.assignments.all %}
                    {% for assignment in assignments|order_by_date %}
                    {% if assignment.publication == current_publication %}
                    <tr>
                        <td style="font-size:15px">{{ assignment.article.title }}</td>
                        <td class="text-center">
                            <small class="text-center" data-tooltip tabindex="1" title="
                            {% if assignment.completed %}
                            El artículo ha sido arbitrado.
                            {% else %}

                            {% if assignment.status == '2' %}

                            El proceso de arbitraje aún no ha sido iniciado.
                            Empiece a arbitrar el artículo.

                            {% elif assignment.status == '3' %}
                            El proceso de arbitraje ha comenzado.
                            {% elif assignment.status == '4' %}
                            Las observaciones han sido enviadas a su autor/a. Debes esperar a que el/la autor/a las corrija.

                            {% elif assignment.status == '5' %}
                            El/la autor/a ha corregido el artículo. Debes revisar las correcciones y enviar el dictamen.

                            {% elif assignment.status == '6' %}
                            El proceso de dictmen ha comenzado.

                            {% endif %}

                            {% endif %}
                            ">

                                {% if assignment.completed %}
                                <i class="fi-check" style="color: green;"></i>
                                Completado
                                {% else %}

                                {% if assignment.status == '2' %}
                                <i class="fi-info" style="color: yellow;"></i>
                                {% elif assignment.status == '3' %}
                                <i class="fi-clipboard-pencil" style="color: blue;"></i>
                                {% elif assignment.status == '4' %}
                                <i class="fi-mail" style="color: blue;"></i>

                                {% elif assignment.status == '5' %}
                                <i class="fi-info" style="color: yellow;"></i>

                                {% elif assignment.status == '6' %}
                                <i class="fi-flag" style="color: blue;"></i>

                                {% endif %}
                                {{assignment.get_status_display}}

                                {% endif %}

                            </small>

                        </td>
                        <td class="text-center">
                            {% with  assignment|get_sent_reviews as countr %}
                            <small data-tooltip tabindex="1" title="{% if countr == 0 %}
                            No se ha enviado ningún arbitraje por parte de usted o de su compañer@.
                            {% elif countr == 1 %}

                            {% if assignment|get_is_sent:request.user %}
                            Tu arbitraje se enviará cuando tu compañer@ envíe la suya.
                            {% else %}
                            Tu compañer@ ha enviado su arbitraje.
                            {% endif %}
                            {% else %}
                            Se han enviado todos los arbitrajes.
                            {% endif %}">
                                {{countr}}/2 Arbitrajes
                            </small>
                            {% endwith %}
                        </td>
                        <td class="text-center">

                            {% with assignment|get_reported_reviews as countr %}
                            <small data-tooltip tabindex="1" title="{% if countr == 0 %}
                            No se ha realizado ningún dictamen por parte de usted o de su compañer@
                            {% elif countr == 1 %}

                            {% if assignment|get_is_reported:request.user %}
                            Has realizado tu dictamen.
                            {% else %}
                            Tu compañer@ ha realizado su dictamen.
                            {% endif %}
                            {% else %}
                            Se han realizado todos los dictamenes.
                            {% endif %}">
                                {{countr}}/2 Dictamenes
                            </small>
                            {% endwith %}
                        </td>
                        <td class="text-center">
                            <div class="grid-x  align-center">
                                <div class="cell">


                                    {% if not assignment|get_is_sent:request.user %}
                                    <a class="button clear"
                                        href="{% url 'article_review:review_detail' assignment|get_review_id:request.user %}?recepcion=false">
                                        <i class="fi fi-torso-business"></i> Arbitrar
                                    </a>

                                    {% else %}
                                    {% if assignment.status == '5' or assignment.status == '6' %}

                                    {% if not assignment|get_is_reported:request.user %}

                                    <a class="button clear"
                                        href="{% url 'article_review:review_detail' assignment|get_review_id:request.user %}?recepcion=true">
                                        <i class="fi fi-torso-business"></i> Dictaminar
                                    </a>
                                    {% endif %}

                                    {% endif %}

                                    {% endif %}
                                    &nbsp;
                                    {% if assignment|has_notes:request.user and not assignment|get_is_sent:request.user %}
                                    <button class="button clear" data-open="reveal_{{assignment.article.slug}}">
                                        {# enviar observaciones #}
                                        <i class="fi fi-mail"></i> Enviar observaciones</button>

                                    <div class="reveal" id="reveal_{{assignment.article.slug}}"
                                        aria-labelledby="header-{{assignment.article.slug}}" data-reveal>
                                        <h5 id="header-{{assignment.article.slug}}">Enviar observaciones
                                            del artículo {{ assignment.article.title }}
                                        </h5>
                                        <div class="callout primary">
                                            <p class="lead">Una vez que aceptes enviar las observaciones con las notas
                                                agregadas, no podrás modificarlas.</p>
                                        </div>

                                        <div class="callout alert">
                                            <p>¿Estás seguro de que deseas enviar las observaciones?</p>
                                        </div>
                                        <form method="POST" class="text-center"
                                            action="{% url 'observation_sending:observation_sending' assignment|get_review_id:request.user %}">
                                            {% csrf_token %}
                                            <input class="button success" style="color:white;" type="submit" name="btn"
                                                value="Si">
                                            <button class="button alert">No </button>
                                        </form>

                                        <button class="close-button" data-close aria-label="Close Accessible Modal"
                                            type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endif %}


                                </div>
                            </div>
                        </td>

                    </tr>
                    {% comment %} </tbody> {% endcomment %}
                {% endif %}
                {% endfor %}
                {% endwith %}
                </tbody>
            </table>

            {% else %}
            <div class="grid-x grid-padding-x cell align-center ">
                <div class="callout warning cell">
                    <p>
                        No se le ha asignado ninguna propuesta para revisar.
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
</div>

{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        var dragSrcEl = null;

        function handleDragStart(e) {
            this.style.opacity = '0.4';

            dragSrcEl = this;

            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }

            e.dataTransfer.dropEffect = 'move';

            return false;
        }

        function handleDragEnter(e) {
            this.classList.add('over');
        }

        function handleDragLeave(e) {
            this.classList.remove('over');
        }

        function handleDrop(e) {
            if (e.stopPropagation) {
                e.stopPropagation(); // stops the browser from redirecting.
            }

            if (dragSrcEl != this) {
                dragSrcEl.innerHTML = this.innerHTML;
                this.innerHTML = e.dataTransfer.getData('text/html');
            }

            return false;
        }

        function handleDragEnd(e) {
            this.style.opacity = '1';

            items.forEach(function (item) {
                item.classList.remove('over');
            });
        }


        let items = document.querySelectorAll('.container .box');
        items.forEach(function (item) {
            item.addEventListener('dragstart', handleDragStart);
            item.addEventListener('dragenter', handleDragEnter);
            item.addEventListener('dragover', handleDragOver);
            item.addEventListener('dragleave', handleDragLeave);
            item.addEventListener('drop', handleDrop);
            item.addEventListener('dragend', handleDragEnd);
        });
    });
</script>

{% endblock scripts %}