{% extends "core/base.html" %}
{% load static %}
{% block title %}Tablero{% endblock title %}

{% block content %}




<main role="main">
    <!--Mensajes-->
    {% if not request.user.profile.type_user == "2" %}

    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12 mx-auto mb-5">
                <div class="card">
                    <div class="card-header bg-primary text-light">
                        <h3 class="card-title">Etapa #1: {{current_publication.proposal_reception}}</h3>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'success' %}success {% elif message.tags == 'error' %}danger {% endif %}"
                            role="alert">
                            {{ message }}
                        </div>

                        {% endfor %}
                        {% endif %}
                        {% with articles=user.profile.article_proposal.all %}

                        <table class="table">
                            <thead>
                                <th>Titulo</th>
                                <th>Estado</th>
                                <th>Carta de recepción</th>
                                <th>Acciones</th>
                            </thead>



                            {% for article in articles %}
                            {% if article.proposal_reception == current_publication.proposal_reception %}

                            <tbody>
                                <tr>
                                    <td>{{ article.title }}</td>
                                    <td>
                                        {% if article.status == "2" %}
                                        <i class="fa-solid fa-check" style="color:green"></i> &nbsp; Recibido
                                        {% else %}
                                        Sin recibir
                                        {% endif %}

                                    </td>
                                    <td>
                                        <!--Ver dictamen-->
                                        {% if article.reception_letter.url is not null %}
                                        <a href="{{ article.reception_letter.url }}" class="btn btn-link text-primary"
                                            style="text-decoration: none;" target="_blank">
                                            <i class="fa-solid fa-file-pdf" style="color:red"></i>
                                            Ver</a>

                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'proposal_reception:article_proposal_update' article.id %}"><i
                                                class="fa-solid fa-edit"></i></a>
                                    </td>
                                </tr>
                            </tbody>

                            {% endif %}

                            {% endfor %}

                            {% endwith %}
                        </table>




                    </div>

                </div>
                <div class="card-footer">
                    {% comment %} <a href="{% url 'profile' %}" class="btn btn-secondary">Volver</a>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</main>
{% comment %}
<div class="container">
    <div draggable="true" class="box">A</div>
    <div draggable="true" class="box">B</div>
    <div draggable="true" class="box">C</div>
</div> {% endcomment %}
{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        var dragSrcEl = null;

        function handleDragStart(e) {
            this.style.opacity = '0.4';

            dragSrcEl = this;

            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }

            e.dataTransfer.dropEffect = 'move';

            return false;
        }

        function handleDragEnter(e) {
            this.classList.add('over');
        }

        function handleDragLeave(e) {
            this.classList.remove('over');
        }

        function handleDrop(e) {
            if (e.stopPropagation) {
                e.stopPropagation(); // stops the browser from redirecting.
            }

            if (dragSrcEl != this) {
                dragSrcEl.innerHTML = this.innerHTML;
                this.innerHTML = e.dataTransfer.getData('text/html');
            }

            return false;
        }

        function handleDragEnd(e) {
            this.style.opacity = '1';

            items.forEach(function (item) {
                item.classList.remove('over');
            });
        }


        let items = document.querySelectorAll('.container .box');
        items.forEach(function (item) {
            item.addEventListener('dragstart', handleDragStart);
            item.addEventListener('dragenter', handleDragEnter);
            item.addEventListener('dragover', handleDragOver);
            item.addEventListener('dragleave', handleDragLeave);
            item.addEventListener('drop', handleDrop);
            item.addEventListener('dragend', handleDragEnd);
        });
    });
</script>

{% endblock scripts %}