{% load i18n %}
{% load static %}

<style>
.viewlink{
    vertical-align: middle;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    content: "";
    vertical-align: middle;
    margin-right: 4px;
    margin-right: 0.28571rem;
}
</style>

<ul>
    {% for app in module.children %}
    <li class="contrast">
        {% if app.name != app.app_label|capfirst|escape %}
        <a href="{{ app.app_url }}"
            title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        {% else %}
        {% trans app.app_label as app_label %}
        <a href="{{ app.app_url }}"
            title="{% blocktrans with name=app_label %}Models in the {{ name }} application{% endblocktrans %}">{{ app_label }}</a>
        {% endif %}
    </li>

    {% for model in app.models %}
    <li>
        <span class="float-right">
            {% if model.add_url %}
            <a href="{{ model.add_url }}" class="addlink" title="{% trans 'Add' %}"></a>
            {% else %}
            &nbsp;

            {% endif %}


            {% if model.admin_url %}
            <a href="{{ model.admin_url }}" class="changelink" title="{% trans 'Change' %}"></a>
            {% else %}
            &nbsp;
            {% if model.view_url %}
            <a href="{{ model.view_url }}" class="viewlink" class="related-widget-wrapper-link view-related" title="{%trans 'View' %}"><img
                    src="{% static 'admin/img/icon-viewlink.svg' %}" alt="vista"></a>
            {% else %}
            &nbsp;

            {% endif %}

            {% endif %}



        </span>

        {% if model.admin_url or model.view_url %}
        <a href="{{ model.view_url }}">{{ model.name }}</a>
        {% else %}
        <!-- if user has permission view -->

        {{ model.name }}
        {% endif %}
    </li>
    {% endfor %}
    {% endfor %}
</ul>