{% extends "core/base.html" %}

{% block title %}Calendario{% endblock title %}

{% block styles %}
<style>
    .calendar {
        width: 70%;
        margin: auto;
        font-size: 1px;
    }

    .calendar tr,
    .calendar td {}

    .calendar th {
        padding: 10px;
        text-align: center;
        font-size: 15px;
    }

    .calendar td {
        width: 200px;
        font-size: 12px;
        position: relative;
        height: 75px;
        padding: 20px 0px 0px 5px;
    }

    .calendar td:hover {
        background-color: #f5f5f5;
    }

    .calendar td .event {
        background-color: #ddf2fa;
        z-index: 3;
    }

    .calendar td li {
        list-style: none;
        font-size: 12px;
        padding: 6px 0px 0px 5px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .btn {
        outline: none;
        color: black;
        background-color: transparent;
        box-shadow: 0 0 0 0;
    }


    .calendar td {
        background-color: white
    }

    .calendar .today a {
        decoration: none;
    }

    .noday {
        background-color: white;

    }


    .calendar .event {
        background-color: #ddf2fa;
    }
</style>
{% endblock styles %}

{% block path %}
<li><a href="{% url 'home' %}">Inicio</a></li>
<li>
    <span class="show-for-sr">Current: </span> Calendario
</li>

{% endblock path %}

{% block content %}
<div class="grid-x grid-padding-x align-justify text-center" style="margin-top: 2em;">
    <div class="cell small-6 large 4"> <a class="button info" href={{ previous_month }}>
            <i class="fi-arrow-left"></i>
            Anterior

        </a></div>
    <div class="cell small-6 large 4">
        <a class="button success " href={{ next_month }}>

            Siguiente
            <i class="fi-arrow-right"></i>
        </a></div>
</div>


<div class="grid-x grid-margin-x align-center">

    <div class="grid-x grid-padding-x small-12 medium-12 large-10 "
        style="margin-top: 2em; fon-size:10px; font-size:inherit;">

        {{calendar}}
    </div>
</div>

{% endblock content %}