{% extends "core/base.html" %}

{% block title %}Calendario{% endblock title %}

{% block styles %}
<style>
    .calendar {
        width: 98%;
        margin: auto;
        font-size: 1px;
    }

    .calendar tr,
    .calendar td {}

    .calendar th {
        padding: 10px;
        text-align: center;
        font-size: 5px;
    }

    .calendar td {
        width: 200px;
        font-size: 1px;

        height: 150px;
        padding: 20px 0px 0px 5px;
    }

    .table .today {
        background-color: #F9F0B8;

    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .btn {
        outline: none;
        color: black;
        background-color: transparent;
        box-shadow: 0 0 0 0;
    }


    .table .noday {
        background-color: #F9F7F7;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="grid-x grid-padding-x align-justify text-center" style="margin-top: 2em;">
    <div class="cell small-6 large 4"> <a class="button info" href={{ previous_month }}>
            <i class="fi-arrow-left"></i>
            Anterior

        </a></div>
    <div class="cell small-6 large 4">
        <a class="button success " href={{ next_month }}>

            Siguiente
            <i class="fi-arrow-right"></i>
        </a></div>
</div>


<div class="grid-x grid-margin-x align-center">

    <div class="grid-x grid-padding-x small-12 medium-12 large-10 " style="margin-top: 2em; fon-size:10px; font-size:inherit;">

        {{calendar}}
    </div>
</div>

{% endblock content %}