{% extends "admin/base.html" %}

{% load static %}
{% load i18n static jet_tags %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<style>

</style>
{% endblock extrastyle %}

{% block extrahead %}
<link rel="shortcut icon" href="{% static 'core/img/favicon.png' %}" type="image/x-icon">
{% endblock %}

{% block welcome-msg %}
Bienvenido
<strong>{% firstof user.get_short_name user.get_username %} </strong>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{{home.brand_image.url}}" alt="" width="150px">
        {% comment %} {{ site_header|default:_('Django Administration') }} {% endcomment %}

    </a>
</h1>

{% endblock branding %}


{% block html %}{{ block.super }}
<script src="{% url 'jet:jsi18n' %}"></script>
{% endblock %}

{% block blockbots %}{{ block.super }}

<script src="{% static 'admin/js/vendor/jquery/jquery.js' as url %}{{ url|jet_append_version }}" type="text/javascript">
</script>
<script src="{% static 'admin/js/jquery.init.js' as url %}{{ url|jet_append_version }}"></script>
{% endblock %}

{% block nav-global %}{% endblock nav-global %}