<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Fuentes -->
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'core/bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="shortcut icon" href="{% static 'core/img/favicon.png' %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    {% comment %}
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

    {% comment %}
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> {% endcomment %}
</head>


<style>
    html {
        min-height: 100%;
        position: relative;
    }

    body {
        margin: 0;
        margin-bottom: 40px;
    }

    footer {
        background-color: black;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        color: white;
    }
</style>

<body>

    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand">
                        <a href="#">Brand</a></div>
                </div>
                <li><a href="{% url 'home' %}"><i class="bi bi-house-fill"></i> Inicio</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#events">Events</a></li>
                <li><a href="#team">Team</a></li>
                <li class="dropdown">
                    <a href="#works" class="dropdown-toggle" data-toggle="dropdown">Works <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu animated fadeInLeft" role="menu">
                        <div class="dropdown-header">Dropdown heading</div>
                        <li><a href="#pictures">Pictures</a></li>
                        <li><a href="#videos">Videeos</a></li>
                        <li><a href="#books">Books</a></li>
                        <li><a href="#art">Art</a></li>
                        <li><a href="#awards">Awards</a></li>
                    </ul>
                </li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#followme">Follow me</a></li>
            </ul>
        </nav>
        <!-- Page Content -->

        <!-- Navegación -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top"">
            {% if request.path != "/" and not 'accounts' in request.path or 'profile' in request.path %}
            <button type=" button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
            </button>
            {% endif %}
            <div class="container">
                <a class="navbar-brand text-end" href="{% url 'home' %}">
                    <img src="{% static 'core/img/logo1.png' %}" alt="" height="60px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ned"
                    aria-controls="ned" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="ned">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            {% comment %} <a class="nav-link" href="{% url 'home' %}">Inicio</a> {% endcomment %}
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if user.is_authenticated and not 'password_reset' in request.path %}
                            {% if request.path == "/" %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile' %}">Ingresar &nbsp <i
                                        class="bi bi-door-open"></i></a>
                            </li>
                            {% else %}
                            <li class="nav-item mt-2">
                                <a class="nav-link iconClass" href="{% url 'list_threads' %}">Mensajes &nbsp <i
                                        class="bi bi-chat-fill"></i>
                                    <span class="badge rounded-pill badge-notification bg-danger"></span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'profile' %}">{{request.user.first_name}}
                                    {{request.user.last_name}} <img src="{{request.user.profile.avatar.url}}"
                                        alt="avatar" width="40px" height="40px" class="rounded-circle">
                                </a>
                            </li>
                            {% endif %}

                            <li class="nav-item {% if request.path != '/' %}mt-2{% endif %}">
                                <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión &nbsp<i
                                        class="bi bi-box-arrow-left"></i></a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                            </li>
                            {% endif %}

                            {% if request.path == "/" and not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
                            </li>
                            {% endif %}
                        </ul>
                    </span>

                </div>
            </div>
        </nav>

        {% if request.path != "/" and not 'accounts' in request.path or 'profile' in request.path %}
        <!--Sidebar-->
        <div class="container-fluid mb-5">


            {% endif %}

            <!-- Contenido -->
            {% block content %}{% endblock %}
            {% if request.path != "/" and request.path != "/accounts/signup/" %}


        </div>
        {% endif %}

        <!--Sidebar-->

        <footer class="">
            <!--Pie de página pegado copyright-->
            <div class="container-fluid bg-dark text-center text-white pt-3">
                <div class="row">
                    <div class="col-12">
                        <p>© 2021 100CIATEC. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
        {% comment %} <script src="{% static 'core/js/main.js' %}"></script> {% endcomment %}
        <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'core/bootstrap-5.2.3-dist/js/bootstrap.js' %}"></script>

        <script>
            $(document).ready(function () {
                var trigger = $('.hamburger'),
                    overlay = $('.overlay'),
                    isClosed = false;

                trigger.click(function () {
                    hamburger_cross();
                });

                function hamburger_cross() {

                    if (isClosed == true) {
                        overlay.hide();
                        trigger.removeClass('is-open');
                        trigger.addClass('is-closed');
                        isClosed = false;
                    } else {
                        overlay.show();
                        trigger.removeClass('is-closed');
                        trigger.addClass('is-open');
                        isClosed = true;
                    }
                }

                $('[data-toggle="offcanvas"]').click(function () {
                    $('#wrapper').toggleClass('toggled');
                });
            });
        </script>
</body>

</html>