{% extends "core/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block path %}

<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li>
            <span class="show-for-sr">Current: </span>inicio
        </li>
        <li>

        </li>
    </ul>
</nav>

{% endblock path %}

{% block content %}




<!-- primer bloque del home -->
{% comment %} <div class="gridx-grid-margin-x align-right" style="margin-top: 1em;">
    <div class="cell small-11 large-5 align-self-middle">
        <div class="card">
            <img src="{% static 'core/img/python.jpg' %}">
            <div class="card-section">
                <h4><a href="/entradas/1/">Fundamentos de Python</a></h4>
                <p>Todo lo que debes saber de Python desde 0</p>
            </div>
        </div>
    </div>
</div> {% endcomment %}

{% if request.user.is_authenticated %}
{% if request.user.profile.type_user == "1" %}
<div class="grid-x grid-margin-x align-center" style=" margin-bottom: 5em;">
    <div class="grid-x grid-padding-x cell align-center medium-8 small-8">
        <div class="cell ">
            <div class="callout primary">
                <h5>¡Hola {{request.user.first_name}}!</h5>
                <p>
                    Bienvenido {{request.user.first_name}} a la plataforma de la revista {{home.title}} donde
                    podrás
                    crear tus propios artículos y publicarlos en la revista.
                </p>
            </div>
        </div>

    </div>

    <div class="grid-x grid-padding-x cell align-center medium-8 small-8">

        <div class="cell">
            <div class="callout primary">
                <h5>¿Qué es lo que puedes hacer?</h5>
                <p>
                    Puedes crear tus propios artículos y publicarlos en la revista, además de poder ver los
                    artículos
                    publicados por otros autores.
                </p>
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x cell align-center medium-8 small-8">
        <div class="cell">
            <div class="callout primary">
                <h5>¿Cómo puedo crear un artículo?</h5>
                <p>
                    Para crear un artículo debes iniciar una propuesta de artículo, una vez que tu propuesta sea
                    recibida
                    por el personal de la revista, se llevará un proceso de revisión y una vez que sea aprobada,
                    podrás
                    publicar tu artículo. Podrás ver el seguimiento en el <a
                        href="{% url 'core_dashboard:dashboard' %}">Tablero</a> de actividades.
                </p>
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x cell align-center medium-8 small-8">
        <div class="cell text-center">
            <div class="button primary">
                <a href="{% url 'proposal_reception:article_proposal_form' %}" style="color: white;">Crear
                    propuesta de
                    artículo</a>
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div>
</div>
{% elif request.user.profile.type_user == "2" %}
{# Arbirto #}
<div class="grid-x grid-margin-x align-center" style=" margin-bottom: 5em;">
    <div class="grid-x grid-padding-x cell align-center medium-8 small-8">
        <div class="cell ">
            <div class="callout primary">
                <h5>¡Hola {{request.user.first_name}}!</h5>
                <p>
                    Bienvenido {{request.user.first_name}} a la plataforma de la revista {{home.title}} donde
                    podrás
                    arbitrar los artículos que se han propuesto para publicar en la revista.
                </p>
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x cell align-center medium-8 small-8">
        <div class="cell">
            <div class="callout primary">
                <h5>¿Qué es lo que puedes hacer?</h5>
                <p>
                    Puedes arbitrar los artículos que se han propuesto para publicar en la revista. Agregar tus
                    correcciones
                    y sugerencias para mejorar el artículo.
                </p>
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x cell align-center medium-8 small-8">
        <div class="cell">
            <div class="callout primary">
                <h5>¿Cómo puedo arbitrar un artículo?</h5>
                <p>
                    Para arbitrar un artículo primero debes actualizar tus perfiles de arbitraje, puedes hacerlo
                    en tu
                    <a href="{% url 'registration:profile' %}?edit#id_profiles">perfil</a>. Una vez que hayas
                    actualizado tus perfiles de
                    arbitraje,
                    debes esperar las asignaciones de artículos que se te han hecho. Cuando te hayan asignado un
                    artículo, podrás verlo en el <a href="{% url 'core_dashboard:dashboard' %}">Tablero</a> de
                    actividades. Después de haber
                    terminado de arbitrar el artículo, podrás enviarlo para su revisión.
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}

<div class="grid-x grid-margin-x align-right" style="margin-top: 1em;">

    <!-- bloque de blog principal -->
    <div class="cell small-11 large-5 align-self-middle">
        <div class="card" style="width: 100%;">
            <img src="{% static 'core/img/python.jpg' %}">
            <div class="card-section">
                <h4><a href="/entradas/1/">Fundamentos de Python</a></h4>
                <p>Todo lo que debes saber de Python desde 0</p>
            </div>
        </div>
    </div>
    <!-- FIN bloque de blog principal -->

    <!-- bloque de blog principal -->
    <div class="cell small-12 large-6 grid-x grid-margin-x">

        <div class="cell small-6 large-6">
            <div class="card" style="width: 100%;">
                <img src="{% static 'core/img/cpp.jpeg' %}" style="height:150px">
                <div class="card-section">
                    <a href="/entradas/5/">
                        <h5>Cómo programar en C++</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="cell small-6 large-6">
            <div class="card" style="width: 100%;">
                <img src="{% static 'core/img/python.jpg' %}" style="height:150px">
                <div class="card-section">
                    <a href="/entradas/4/">
                        <h5>Arte con IA</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="cell small-6 large-6">
            <div class="card" style="width: 100%;">
                <img src="{% static 'core/img/testcode_mail_from_django.png' %}" style="height:150px">
                <div class="card-section">
                    <a href="/entradas/3/">
                        <h5>Funciones para todos los lenguajes</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="cell small-6 large-6">
            <div class="card" style="width: 100%;">
                <img src="{% static 'core/img/java.jpg' %}" style="height:150px">
                <div class="card-section">
                    <a href="/entradas/2/">
                        <h5>Como programar en Java</h5>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!-- FIN bloque de blog principal -->
</div>

<!-- Imagen cnetrada -->
<div class="container text-center mb-3">
    <img src="{{home.image.url}}" class="img-fluid" alt="Responsive image">
</div>




{% if request.path != "/" and not 'accounts' in request.path or 'profile' in request.path %}

<!-- Prpopuesta de articulo -->

<h4 class="text-center">Recursos</h4>

<!-- Convocatoria -->

<div class="container text-center mb-3">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-danger btn-lg btn-block" href="{{home.convocatoria.url}}"><i
                    class="fas fa-file-pdf"></i>&nbsp;
                Convocatoria</a>
        </div>
    </div>
</div>

<!-- Plantillas -->
<div class="container text-center mb-5">
    <div class="row">
        <div class="col-md-12">
            <h4>Plantillas</h4>
            {% for plantilla in home.article_templates.all %}
            {% if plantilla.template.url is not none %}

            <p><a class="btn btn-primary btn-lg btn-block" href="{{plantilla.template.url}}"><i
                        class="fas fa-file-word"></i>&nbsp;
                    {{plantilla.name}}</a></p>
            {% endif %}

            {% endfor %}

        </div>
    </div>
</div>

{% if not user.is_staff and not user.profile.type_user == "2    " %}

<div class="container text-center mb-5">
    <div class="row">
        <div class="col-md-12">
            {% comment "" %}if message {% endcomment %}
            {% if messages %}
            {% for message in messages %}
            <div id="over"
                class="alert alert-{% if message.tags == 'success' %}success {% elif message.tags == 'error' %}danger {% endif %}"
                role="alert">
                {{ message }}
            </div>

            {% endfor %}
            {% endif %}
            <h4>Inicia tu propuesta</h4>
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'proposal_reception:article_proposal_form' %}"><i
                    class="fas fa-file-pdf"></i>&nbsp;
                Comenzar propuesta de articulo</a>
        </div>
    </div>
</div>
{% endif %}

<br>
<br>



{% endif %}


{% endblock content %}