{% extends "core/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}




<!-- primer bloque del home -->
{% comment %} <div class="gridx-grid-margin-x align-right" style="margin-top: 1em;">
    <div class="cell small-11 large-5 align-self-middle">
        <div class="card" >
            <img src="{% static 'core/img/python.jpg' %}">
            <div class="card-section">
                <h4><a href="/entradas/1/">Fundamentos de Python</a></h4>
                <p>Todo lo que debes saber de Python desde 0</p>
            </div>
        </div>
    </div>
</div> {% endcomment %}

<div class="grid-x grid-margin-x align-right" style="margin-top: 1em;">

    <!-- bloque de blog principal -->
    <div class="cell small-11 large-5 align-self-middle">
        <div class="card" style="width: 100%;">
            <img src="{% static 'core/img/python.jpg' %}">
            <div class="card-section">
                <h4><a href="/entradas/1/">Fundamentos de Python</a></h4>
                <p>Todo lo que debes saber de Python desde 0</p>
            </div>
        </div>
    </div>
    <!-- FIN bloque de blog principal -->

    <!-- bloque de blog principal -->
    <div class="cell small-12 large-6 grid-x grid-margin-x">

        <div class="cell small-6 large-6">
            <div class="card" style="width: 100%;">
                <img src="{% static 'core/img/cpp.jpeg' %}" style="height:150px">
                <div class="card-section">
                    <a href="/entradas/5/">
                        <h5>Cómo programar en C++</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="cell small-6 large-6">
            <div class="card" style="width: 100%;">
                <img src="{% static 'core/img/python.jpg' %}" style="height:150px">
                <div class="card-section">
                    <a href="/entradas/4/">
                        <h5>Arte con IA</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="cell small-6 large-6">
            <div class="card" style="width: 100%;">
                <img src="{% static 'core/img/testcode_mail_from_django.png' %}" style="height:150px">
                <div class="card-section">
                    <a href="/entradas/3/">
                        <h5>Funciones para todos los lenguajes</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="cell small-6 large-6">
            <div class="card" style="width: 100%;">
                <img src="{% static 'core/img/java.jpg' %}" style="height:150px">
                <div class="card-section">
                    <a href="/entradas/2/">
                        <h5>Como programar en Java</h5>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!-- FIN bloque de blog principal -->
</div>

<!-- Imagen cnetrada -->
<div class="container text-center mb-3">
    <img src="{{home.image.url}}" class="img-fluid" alt="Responsive image">
</div>




{% if request.path != "/" and not 'accounts' in request.path or 'profile' in request.path %}

<!-- Prpopuesta de articulo -->

<h4 class="text-center">Recursos</h4>

<!-- Convocatoria -->

<div class="container text-center mb-3">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-danger btn-lg btn-block" href="{{home.convocatoria.url}}"><i
                    class="fas fa-file-pdf"></i>&nbsp;
                Convocatoria</a>
        </div>
    </div>
</div>

<!-- Plantillas -->
<div class="container text-center mb-5">
    <div class="row">
        <div class="col-md-12">
            <h4>Plantillas</h4>
            {% for plantilla in home.article_templates.all %}
            {% if plantilla.template.url is not none %}

            <p><a class="btn btn-primary btn-lg btn-block" href="{{plantilla.template.url}}"><i
                        class="fas fa-file-word"></i>&nbsp;
                    {{plantilla.name}}</a></p>
            {% endif %}

            {% endfor %}

        </div>
    </div>
</div>

{% if not user.is_staff and not user.profile.type_user == "2    " %}

<div class="container text-center mb-5">
    <div class="row">
        <div class="col-md-12">
            {% comment "" %}if message {% endcomment %}
            {% if messages %}
            {% for message in messages %}
            <div id="over"
                class="alert alert-{% if message.tags == 'success' %}success {% elif message.tags == 'error' %}danger {% endif %}"
                role="alert">
                {{ message }}
            </div>

            {% endfor %}
            {% endif %}
            <h4>Inicia tu propuesta</h4>
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'proposal_reception:article_proposal_form' %}"><i
                    class="fas fa-file-pdf"></i>&nbsp;
                Comenzar propuesta de articulo</a>
        </div>
    </div>
</div>
{% endif %}

<br>
<br>



{% endif %}


{% endblock content %}