{% extends "admin/change_list.html" %}

{% block info %}
<div class="callout primary">
    <p><i class="fi-info"></i> 
        Instrucciones para recibir propuestas de artículo.
        <ul>
            <li>
                Seleccione los artículos que desea recibir. Puede seleccionar varios artículos haciendo clic en el cuadro de verificación de la izquierda de cada artículo. También puede seleccionar todos los artículos haciendo clic en el cuadro de verificación en la parte superior de la lista de artículos.
            </li>
            <li>
                Haga clic en la lista desplegable "Acciones" y seleccione "Marcar como recibido". Luego haga clic en "Ejecutar".
            </li>
            <li>
                Se enviará un correo electrónico a los autores de los artículos con una carta de recepción para que sepan que su artículo ha sido recibido. Dicha carta también se podrá ver en el tablero de actividades de los autores.
            </li>
        </ul>
    </p>

    <p>
        <i class="fi-info"></i>
        Recuerda aporyarte de los filtros para facilitar la búsqueda de artículos que aún no han sido recibidos. Filtra por su estatus.
    </p>
</div>
{% endblock info %}