<style>
    .absolute-logo {
        position: fixed;
        width: 20%;
        height: 100%;
        z-index: 1;
        margin-top: -1%;
    }
</style>

{% load static %}

<div class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <div class="top-bar" style="background-color: #212531; margin-bottom: 0;">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu style="background-color: #212531;">
                    <li class="align-self-middle">
                        <button class="button primary" style="color: white;" type="button" data-toggle="offCanvasLeft">
                            <i class="fi-list"></i>
                            <span id="menuop">Menú</span>
                        </button>
                    </li>
                    <li>
                        <a href="{% url 'home' %}">
                            <img id="brand" src="{{home.brand_image.url}}" width="160px">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right hide-for-small-only" id="inicio" style="background-color: #212531;">
                <ul class="menu" style="color: white; background-color: inherit;">
                    <li>
                        <a class="button clear" style="color: white; {% if request.user.is_authenticated %} margin-top: 7px; {% endif %}"
                            href="{% url 'home' %}">
                            <i class="fi-home"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    {% if not request.user.is_authenticated %}
                        <li>
                            <a class="button clear" style="color: white;" href="{% url 'login' %}">
                                <i class="fi-lock"></i>
                                Iniciar sesión
                            </a>
                        </li>
                        <li>
                            <a class="button clear" style="color: inherit;" href="{% url 'registration:signup' %}">
                                <i class="fi-burst-new"></i>
                                Registrarse
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li>
                            <ul class="dropdown menu" data-dropdown-menu
                                style="background-color: inherit; color: white; border: none;">
                                <li>
                                    <a href="#" class="button clear" style="color: inherit;">
                                        <img src="{{request.user.profile.avatar.url}}" width="30px" height="30px"
                                            style="border-radius: 50%; margin-right: 10px; position: relative;">
                                        {{request.user.get_full_name}}
                                    </a>
                                    <ul class="menu" style="color: white; background-color: #212531">
                                        <li>
                                            <a style="color: white;" href="{% url 'registration:profile' %}?edit">
                                                <i class="fi-torso"></i>
                                                Perfil
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color: white;" href="{% url 'logout' %}">
                                                <i class="fi-power"></i>
                                                Salir
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="absolute-logo">
    <img src="{% static 'core/img/bookmarklogo.png' %}" width="70%">
</div>
