{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<!--Success alert email activado-->
<div class="grid-x grid-margin-x align-center">
    <div class="cell grid-y small-9 medium-6 large-8" style="margin-top: 2em; height: 1000px;">

        {% if status == "success" %}

        <div class="callout success">
            <h3>¡Felicidades!</h5>
                <p>¡Tu cuenta ha sido activada! Ya puedes iniciar sesión.</p>
                <a href="{% url 'login' %}">Iniciar sesión</a>
        </div>
        {% elif status == "error"  %}

        <!--Error alert email no activado-->

        <div class="callout alert ">
            <h3>¡Error!</h5>
                <p>¡El link de activación es inválido! porque ya fue utilizado o no existe.</p>
        </div>


        {% elif status == "warning" %}
        <!--Warning alert email no activado-->
        <div class="callout warning">
            <h3>El link de activación ha expirado!</h5>
                <p>Por favor solicita otro.
                    <a href="{% url 'registration:resend_link_email'  %}?uidb64={{uidb64}}">Nuevo link</a>
                </p>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}