{% extends "core/base.html" %}
{% load static %}
{% block title %}

{% if status == "success" %}
Activación de cuenta exitosa
{% elif status == "error"  %}
Error en la activación de cuenta
{% elif status == "warning" %}
Activación de cuenta expirada
{% endif %}

{% endblock %}

{% block back %}
<a href="{% url 'home' %}" class="button clear">
    {% block back_button %}
    {{ block.super }}
    {% endblock back_button %}
</a>
{% endblock back %}

{% block path %}

<li>
    <a href="{% url 'home' %}">Inicio</a>
</li>
<li>
    <span class="show-for-sr">Current: </span> Activación de cuenta
</li>
{% endblock path %}

{% block content %}
<!--Success alert email activado-->
<div class="grid-x grid-margin-x align-center">
    <div class="cell grid-y small-9 medium-6 large-8" style=" height: 1000px;">

        {% if status == "success" %}

        <div class="callout success">
            <h3>¡Felicidades!</h5>
                <p>¡Tu cuenta ha sido activada! Ya puedes iniciar sesión.</p>
                <a href="{% url 'login' %}">Iniciar sesión</a>
        </div>
        {% elif status == "error"  %}

        <!--Error alert email no activado-->

        <div class="callout alert ">
            <h3>¡Error!</h5>
                <p>¡El link de activación es inválido! porque ya fue utilizado o no existe.</p>
        </div>


        {% elif status == "warning" %}
        <!--Warning alert email no activado-->
        <div class="callout warning">
            <h3>El link de activación ha expirado!</h5>
                <p>Por favor solicita otro.
                    <a href="{% url 'registration:resend_link_email'  %}?uidb64={{uidb64}}">Nuevo link</a>
                </p>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}