{% extends 'core/base.html' %}
{% load static %}
{% block title %}Cambio de contraseña{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x align-center">
    <div class="cell small-9 medium-9 large-8" style="margin-top: 2em;">
        <div class="card" style="width: 100%;">
            <div class="card-divider">
                <h4 class="cell medium-6">
                    <p class="text-center title-white"> Cambio de contraseña</p>
                </h4>
            </div>
            <div class="card-section">
                <form method="post" data-abide novalidate>{% csrf_token %}
                    <div class="callout primary">
                        <p>Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la
                            nueva
                            contraseña para verificar que la ha escrito correctamente.</p>
                    </div>

                    {% if form.old_password.errors %}
                    <div class="callout alert">
                        {{form.old_password.errors}}
                    </div>
                    {% endif %}

                    <input type="password" name="old_password" autofocus="" required="" id="id_old_password"
                        class="form-control" placeholder="Contraseña antigua">
                    <span class="form-error">Este campo es obligatorio</span>

                    {% if form.new_password1.errors %}
                    <div class="callout alert">
                        {{form.new_password1.errors}}
                    </div>
                    {% endif %}
                    <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control"
                        placeholder="Contraseña nueva">
                    <span class="form-error">Este campo es obligatorio</span>
                    <small class="help-text">
                        {{form.new_password1.help_text}} </small>

                    {% if form.new_password2.errors %}
                    <div class="callout alert">
                        {{form.new_password2.errors}}
                    </div>
                    {% endif %}
                    <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control"
                        placeholder="Contraseña nueva (confirmación)" data-equalto="id_new_password1">
                    <span class="form-error">Las contraseñas no coinciden</span>
                    <button type="submit" class="button cell hollow warning">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}