{% extends 'core/base.html' %}
{% block title %}Iniciar sesión{% endblock title %}
{% load static %}

{% block path %}

<li>
    <a href="{% url 'home' %}">Inicio</a>
</li>
<li>
    <span class="show-for-sr">Current: </span> Acceso
</li>


{% endblock path %}


{% block content %}
<!--Container card-->

<style>
    #form-register {
        margin-bottom: 100px;
        max-width: 24rem;
    }

    .errorlist {
        color: red;
    }

    label {
        display: none
    }
</style>




<div class="grid-x grid-margin-x align-center">

    <div class="cell small-8 medium-6 large-4" >
        {% if 'next' in request.GET %}
        <div class="callout alert" data-closable>
            <h4>Sin sesión activa</h4>
            <p>Debes iniciar sesión para acceder a la página</p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endif %}
        <div class="card" style="width: 100%;">
            <div class="card-divider">
                <h4 class="cell medium-6">
                    <p class="text-center title-white"> Acceso de usuario</p>
                </h4>

            </div>
            <div class="card-section">
                {% if form.errors %}
                <div class="callout alert" data-closable>
                    <h5>¡Datos incorrectos!</h5>
                    <p>{{form.non_field_errors}}</p>

                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <form class="grid-x grid-margin-x" enctype="multipart/form-data" method="POST" data-abide novalidate>
                    {% csrf_token %}
                    <div class="cell medium-12">
                        <div data-abide-error class="alert callout" style="display: none;">
                            <p><i class="fi-alert"></i> Hay algunos errores en el formulario.
                            </p>
                        </div>
                    </div>
                    <div class="cell medium-12">
                        {{form.username}}
                        <span class="form-error">
                            Este campo es obligatorio
                        </span>
                    </div>

                    <div class="cell medium-12">
                        {{form.password}}
                        <span class="form-error">
                            Este campo es obligatorio
                        </span>
                    </div>
                    <button type="submit" class="cell button primary">Acceder</button>
                    {% comment %} <a class="cell hollow button alert"
                        href="{% url 'registration:signup' %}">Registrar</a> {% endcomment %}
                    <div class="cell medium-12">
                        <p class="text-center">¿No tienes cuenta?<a href="{% url 'registration:signup' %}"
                                class="link-primary">
                                Regístrate</a></p>
                    </div>
                    <div class="cell medium-12">
                        <p class="text-center"><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}