{% extends 'core/base.html' %}
{% load static %}
{% block title %}Escriba la nueva contraseña{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x align-center">

    <div class="cell small-9 medium-9 large-8" style="margin-top: 2em;">
        {% if validlink %}

        <div class="card" style="width: 100%;">
            <div class="card-divider">
                <h4 class="cell medium-6">
                    <p class="text-center title-white">Restablecimiento de contraseña</p>
                </h4>

            </div>
            <div class="card-section">
                <form id="form" action="" method="post" data-abide novalidate>{% csrf_token %}

                    <div class="callout primary">
                        <h4 class="mb-4">Escriba la nueva contraseña</h4>
                        <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito
                            correctamente.</p>
                    </div>

                    {% if form.errors %}
                    <div class="callout alert" data-closable>
                        <h6><i class="fi-alert"></i> Por favor, corrija los siguientes errores:</h6>
                        <p>
                            {% for field in form %}
                            {% for error in field.errors %}
                            <strong>{{ field.label }}</strong>: {{ error }}<br>
                            {% endfor %}
                            {% endfor %}
                        </p>
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <div class="cell small-12">
                        <label>{{form.new_password1.label}}
                            <input type="password" name="new_password1" id="id_new_password1"
                                placeholder="Nueva contraseña" aria-describedby="example1Hint2"
                                aria-errormessage="example1Error2" required>
                            <span class="form-error">
                                Este campo es obligatorio
                            </span>
                        </label>
                        <h5 class="help-text small" id="example1Hint2">
                            {% if form.new_password1.help_text %}
                            {{form.new_password1.help_text}}
                            {% endif %}
                            <h5 />
                    </div>
                    <div class="cell small-12">
                        <label>{{form.new_password2.label}}
                            <input type="password" id="id_new_password2" name="new_password2"
                                placeholder="Confirmar contraseña" aria-describedby="example1Hint3"
                                aria-errormessage="example1Error3" required data-equalto="id_new_password1">
                            <span class="form-error">
                                La contraseñas no coinciden
                            </span>
                        </label>
                        <p class="help-text" id="example1Hint3">
                            {% if form.new_password2.help_text %}
                            {{form.new_password2.help_text}}
                            {% endif %}
                        </p>
                    </div>

                    <button class="button warning cell " style="color:white;" type="submit" value="Submit">Cambiar
                        contraseña</button>

                </form>
                {% else %}
                <!--error alert -->
                <div class="callout alert">
                    <h3>Restablecimiento de contraseña fallido</h3>
                    <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes
                        o porque ha expirado. Por
                        favor, solicite un nuevo restablecimiento de contraseña <a
                            href="{% url 'password_reset' %}">aquí</a>.</p>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}