{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}

{% block back %}
<a href="{% url 'home' %}" class="button clear">
  {% block back_button %}
  {{ block.super }}
  {% endblock back_button %}
</a>
{% endblock back %}

{% block path %}

<li>
  <a href="{% url 'home' %}">Inicio</a>
</li>
<li>
  <span class="show-for-sr">Current: </span> Restablecimiento de contraseña completado
</li>
{% endblock path %}

{% block content %}
<div class="grid-x grid-margin-x align-center">

  <div class="cell grid-y small-9 medium-9 large-8" style="height: 300px;">

    <div class="callout success">
      <h3>Restablecimiento de contraseña completado</h3>
      <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
      <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
    </div>
  </div>

</div>
{% endblock %}