{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>


<div class="grid-x grid-margin-x align-center">

    <div class="cell medium-6 large-5" style="margin-top: 2em;">

        <div class="card" style="width: 100%;">
            <div class="card-divider">
                <h4 class="cell medium-6">
                    <p class="text-center title-white">
                        Restablecer contraseña
                    </p>
                </h4>
            </div>
            <div class="card-section">

                <div class="row mt-3">
                    <div class="col-md-9 mx-auto mb-5">
                        <form action="" method="post" data-abide novalidat>{% csrf_token %}
                            <div class="callout primary">
                                <p>Introduzca su dirección de correo a continuación y le enviaremos
                                    por correo
                                    electrónico las instrucciones para establecer una nueva.</p>
                            </div>

                            {{ form.email.errors }}
                            <input type="email" name="email" maxlength="254" required="" id="id_email"
                                placeholder="Introduce tu email" />
                            <span class="form-error">
                                Email invalido
                            </span>
                            <button type="submit" class="cell button success" style="color:white;">Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}