{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block content %}
<div class="grid-x grid-margin-x align-center">

  <div class="cell medium-9 large-8" style="margin-top: 2em;">

    <div class="callout success">
      <h3>Restablecimiento de contraseña completado</h3>
      <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
      <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
    </div>
  </div>

</div>
{% endblock %}