{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12 mx-auto mb-5">
                <div class="card">
                    <div class="card-header bg-dark text-light">
                        <h3 class="card-title">Perfil</h3>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'success' %}success {% elif message.tags == 'error' %}danger {% endif %}"
                            role="alert">
                            {{ message }}
                        </div>

                        {% endfor %}
                        {% endif %}
                        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row">
                                <!-- Previa del avatar -->
                                <div class="col-md-2 mx-auto text-center">
                                    <img src="{{request.user.profile.avatar.url}}" class="rounded-circle" width="100px"
                                        height="100px">
                                </div>

                                <!-- Formulario -->
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                {{form.avatar.label_tag}}
                                                {{form.avatar}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group mb-2">
                                                {{form.first_name.label_tag}}
                                                {{form.first_name}}
                                                {% if form.first_name.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{form.first_name.errors}}
                                                </div>
                                                {% endif %}
                                                <small class="form-text"> {{form.first_name.help_text}} </small>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                {{form.apellidoP.label_tag}}
                                                {{form.apellidoP}}

                                                {% if form.apellidoP.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{form.apellidoP.errors}}
                                                </div>
                                                {% endif %}
                                                <small class="form-text"> {{form.apellidoP.help_text}} </small>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                {{form.apellidoM.label_tag}}
                                                {{form.apellidoM}}
                                                {% if form.apellidoM.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{form.apellidoM.errors}}
                                                </div>
                                                {% endif %}
                                                <small class="form-text"> {{form.apellidoM.help_text}} </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-2">
                                        {{form.school.label}}
                                        {{form.school}}
                                        {% if form.school.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{form.school.errors}}
                                        </div>
                                        {% endif %}
                                        <small class="form-text"> {{form.school.help_text}} </small>
                                    </div>

                                    <div class="form-group mt-3">
                                        <label for="email">Email: <i class="bi bi-check"
                                                style="color: green; width: 50px;"></i> </label>
                                        <input type="email" class="form-control mb-3" value="{{request.user.email}}"
                                            aria-label="Disabled input example" disabled>
                                    </div>


                                    <!--Cambiar contraseña-->
                                    <div class="form-group">
                                        <a href="{% url 'registration:change_password' %}">Cambiar contraseña</a>
                                    </div>


                                    <input type="submit" class="btn btn-primary btn-block mt-3" value="Actualizar">
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="card-footer">
                        {% comment %} <a href="{% url 'profile' %}" class="btn btn-secondary">Volver</a>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}