{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}

{% block back %}
<a href="{% url 'home' %}" class="button clear">
    {% block back_button %}
    {{ block.super }}
    {% endblock back_button %}


</a>
{% endblock back %}

{% block path %}
<li><a href="{% url 'home' %}">Inicio</a></li>
<li>
    <span class="show-for-sr">Current: </span> Perfil
</li>

{% endblock path %}

{% block content %}

<div class="grid-x grid-margin-x align-center">
    <div class="cell small-9 medium-8 large-9">
        <div class="card" style="width: 100%;">
            <div class="card-divider">
                <h4 class="cell medium-6">
                    <p class="text-center title-white">Perfil</p>
                </h4>

            </div>
            <div class="card-section ">
                {% if messages %}
                {% for message in messages %}
                <div class="callout {% if message.tags == 'success' %}success {% elif message.tags == 'error' %}alert {% endif %}"
                    data-closable>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <form action="" method="post" enctype="multipart/form-data" data-abide novalidate>{% csrf_token %}
                    <div class="grid-x grid-container">
                        <div class="cell grid-x medium-12 large-2 align-center">
                            <div class="row align-center">
                                <img src="{{request.user.profile.avatar.url}}"
                                    class="rounded-circle column align-center " width="75px" height="75pd">
                            </div>
                        </div>
                        <div class="cell grid-x grid-padding-x medium-12 large-10 align-center">
                            <div class="grid-x cell medium-12 large-12">
                                <div class="cell large-6">
                                    {{form.avatar.label_tag}}
                                    {{form.avatar}}
                                </div>

                            </div>
                            <div class="cell medium-12 large-4">
                                <label for="">
                                    {{form.first_name.label_tag}}
                                    {{form.first_name}}
                                    <span class="form-error">
                                        Debe ser un nombre valido (solo letras). Máximo 2 nombres.
                                    </span>
                                </label>
                                <small class="help-text"> {{form.first_name.help_text}} </small>
                            </div>
                            <div class="cell medium-12 large-4">
                                <label for="">

                                    {{form.apellidoP.label_tag}}
                                    {{form.apellidoP}}
                                    <span class="form-error">
                                        Debe ser un apellido valido (solo letras).
                                    </span>
                                </label>

                                <small class="help-text"> {{form.apellidoP.help_text}} </small>
                            </div>
                            <div class="cell medium-12 large-4">
                                <label>
                                    {{form.apellidoM.label_tag}}
                                    {{form.apellidoM}}
                                    <span class="form-error">
                                        Debe ser un apellido valido (solo letras).
                                    </span>
                                </label>

                                <small class="help-text"> {{form.apellidoM.help_text}} </small>
                            </div>

                            {% if request.user.profile.type_user == '2' %}
                            <div class="cell medium-12">
                                {{form.profiles.label_tag}}
                                {{form.profiles}}
                                {% if form.profiles.errors %}
                                <div class="callout alert" data-closable>
                                    {{form.profiles.errors}}
                                </div>
                                {% endif %}
                                <small class="help-text"> {{form.profiles.help_text}} </small>
                            </div>
                            {% endif %}

                            <div class="cell medium-12">
                                <label for="email">Email: <i class="fi-check" style="color: green; width: 50px;"></i>
                                </label>
                                <input type="email" class="form-control mb-3" value="{{request.user.email}}"
                                    aria-label="Disabled input example" disabled>
                            </div>

                            <div class="cell medium 12">
                                <a href="{% url 'registration:change_password' %}">Cambiar contraseña</a>
                            </div>


                            <br>
                            <br>
                            <div class="cell medium-12">
                                <button type="submit" class="button success" style="color:white;">Guardar</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}