{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<!--Container card-->


<div class="grid-x grid-margin-x align-center">
    <div class="cell small-9 medium-9 large-9" style="margin-top: 2em;">

        <div class="card" style="width: 100%;">
            <div class="card-divider">
                <h4 class="cell medium-6">
                    <p class="text-center title-white">Registro</p>
                </h4>

            </div>
            <div class="card-section">

                <form method="POST" data-abide novalidate>
                    {% if form.errors %}
                    <div class="callout alert">
                        <h6><i class="fi-alert"></i> Por favor, corrija los siguientes errores:</h6>
                        {% comment %}
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button> {% endcomment %}
                    </div>
                    {% endif %}
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-12">
                            <label>
                                {{ field.label }}
                                {% if field.field.required %}
                                <span class="required">*</span>
                                {% endif %}
                            </label>

                            {{ field }}
                            <span class="form-error">
                                Este campo es requerido
                                {% if field.field.widget.input_type == 'email' %}
                                y debe ser un correo electrónico válido
                                {% elif field.field.widget.input_type == 'password' and field.field.label == 'Confirmar contraseña' %}
                                y debe coincidir con la contraseña
                                {% endif %}
                            </span>
                            {% if field.help_text %}
                            <h5 class="help-text">{{ field.help_text|safe }}</h5>
                            {% endif %}
                            {% if field.errors %}
                            <div class="callout alert">
                                <p>
                                    {% for error in field.errors %}
                                    <strong>{{ field.label }}</strong>: {{ error }}<br>
                                    {% endfor %}
                                </p>
                                {% comment %} <button class="close-button" aria-label="Dismiss alert" type="button"
                                    data-close>
                                    <span aria-hidden="true">&times;</span>
                                </button> {% endcomment %}
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    {% endfor %}

                    <button type="submit" class="button cell primary">Registrar</button>
                </form>
                <!--Iterate type user choices-->
            </div>
        </div>
    </div>
</div>

{% endblock %}