{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}

{% block back %}
<a href="{% url 'home' %}" class="button clear">
    {% block back_button %}
    {{ block.super }}
    {% endblock back_button %}
</a>
{% endblock back %}

{% block path %}

<li>
    <a href="{% url 'home' %}">Inicio</a>
</li>
<li>
    <span class="show-for-sr">Current: </span> Registro
</li>
{% endblock path %}

{% block content %}
<!--Container card-->


<div class="grid-x grid-margin-x align-center">
    <div class="cell small-9 medium-9 large-9">

        <div class="card" style="width: 100%;">
            <div class="card-divider">
                <h4 class="cell medium-6">
                    <p class="text-center title-white">Registro</p>
                </h4>

            </div>
            <div class="card-section">

                <form method="POST" data-abide novalidate>
                    {% if form.errors %}
                    <div class="callout alert">
                        <h6><i class="fi-alert"></i> Por favor, corrija los siguientes errores:</h6>
                    </div>
                    {% endif %}
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-12">
                            <label>
                                {{ field.label }}
                                {% if field.field.required %}
                                <span class="required">*</span>
                                {% endif %}
                                {{ field }}
                                <span class="form-error">
                                    {# show message error #}
                                    Este campo es requerido.
                                    {% if field.label == 'Nombre(s)' %}
                                    Debe ser un nombre valido (solo letras). Máximo 2 nombres.
                                    {% elif field.label == 'Nombre de usuario' %}

                                    {% elif 'Apellido' in field.label %}
                                    Debe ser un apellido valido (solo letras).
                                    {% elif field.label == 'Correo electrónico' %}
                                    Debe ser un correo valido.
                                    {% elif field.label == 'Contraseña' %}
                                    Contraseña no valida.
                                    {% elif field.label == 'Confirmar contraseña' %}
                                    Las contraseñas no coinciden.
                                    {% elif field.label == 'Tipo de usuario' %}
                                    Debe seleccionar un tipo de usuario.
                                    {% endif %}
                                </span>
                            </label>


                            {% if field.help_text %}
                            <h5 class="help-text">{{ field.help_text|safe }}</h5>
                            {% endif %}
                            {% if field.errors %}
                            <div class="callout alert">
                                <p>
                                    {% for error in field.errors %}
                                    <strong>{{ field.label }}</strong>: {{ error }}<br>
                                    {% endfor %}
                                </p>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    {% endfor %}

                    <button type="submit" class="button cell primary">Registrar</button>
                </form>
                <!--Iterate type user choices-->
            </div>
        </div>
    </div>
</div>

{% endblock %}